<footer class='page-footer white' id='footer'>
  <div class='container'>
    <div class='row center'>
      <div class='col f-block'>
        <h4>CONTACT</h4>
        Want to get in touch? <br />
        I'm at [email].
      </div>
      <div class='col f-block'>
        <h4>MY LINKS</h4>
        [github]<br />[LinkedIn]<br />
      </div>
      <div class='col f-block'>
        <h4>ABOUT</h4>
        I built this site in Ruby on Rails <br />
        with Bootstrap for styling.
      </div>
    </div>
  </div>
</footer>
