@import "bootstrap";

body {
  font-family: Avenir;
  height: 100vh;
  position: relative;
  margin: 0;
}

nav {
  font-family: "Montserrat", sans-serif, Arial, serif;
  background-color: #29BB9C;
}

.wrapper {
  min-height: 70%;
}

.navbar {
  padding: 2%;
}

.navbar-brand {
  padding: 2%;
}

.page-footer {
  background-color: #2F2F2F;
  color: white;
  padding: 0.95%;
}
